/* acessa o elemento root e cria variaveis globais */
:root {
    --primaria: #915f32;
    --secundaria: #ce9056;
    --terciaria: #e1e6eb;
    --branco: white;
    --preto: black;
}
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* acessa todos os elementoss
remove todas as margens
remove todos os paddins
calcula automaticamente as larguras considerando: conteudo, bordas, margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* seleciona o headder e o footer
coloca a cor de fundo
e um  espacamento interno */
header,
footer {
    background-color: var(--primaria);
    padding: 1rem;
}

/* seleciona o nav
coloca cor de fundo
muda o display para gid
cria uma grade em 5 colunas de largura igual
alinha o texto no centro da coluna
espacamento interno
espaço entre as colunas e linhas do grid */
nav {
    background-color: var(--secundaria);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding: 0.25rem;
    gap: 0.5rem;
}

/* seleciona todos os links dentro de navs
remove a decoração dos links
muda a cor da letra
e a exibição do ponteiro do mouse para uma mão
 */
nav a {
    text-decoration: none;
    color: var(--preto);
    cursor: pointer;
}

/* qualquer item com essa class
muda o display para flex
coloca o espaço vazio da horizontal no meio dos elementos
alinha o itens na vertical com base no seu centro
 */
.logo-busca {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    background-color: var(--terciaria);
    
}

#index {

    flex-grow: 1;
    background-image: url("../img/fundo.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

footer {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--terciaria);
    text-align: center;
}

#copy {
    text-align: start;
}

.alinhar {
    display: flex;
    align-items: center;
}

.img-fim {

    display: flex;
    justify-content: end;
}

.img-fim img {
    margin: 0 1rem;
}

#centro {
    display: grid;
text-align: center;
color: var(black);
background-color: #915f32;
margin: 3rem 40rem;
font-size: 400%;
}

#meio {

    display: grid;
    text-align: center center;
    color: var(black);
    font-size: 350%;
    margin: 10rem 0;

}

#dp {
margin: 0 10rem;
    text-align: center ;
   
    
}

#contato {
display: flex;
flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    line-height: 2; /* Ajuste conforme necessário */
}

#login { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secundaria);
   margin: 13rem 50rem;
   padding: 30px;
    border-radius: 5px;
    width: 15%;
    font-size: 125%;
    border-radius: 15px;
    gap: 15px;
    
}
button { 

    background-color: var(--primaria);
    color: var(--branco);
    align-items: flex-end;
    text-align: end;
    font-size: 125%;
    margin: 2rem;
}

h2 {  

    text-align: center;
    margin-bottom: 20px;
}

.crie_sua_conta { 

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin:-10rem 0 ;
    }
 
