<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estante Web</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <div class="logo-busca">
            <h1>Estante Web</h1>
            <form action="">
                <input type="search" name="busca" id="busca">
            </form>
        </div>

    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="quem_somos.html">Quem Somos</a>
        <a href="contato.html">Contato</a>
        <a href="favoritos.html" class="alinhar">
            <img src="../img/star.png" alt="" width="30px" height="30px">
            Favoritos</a>

        <a href="login.html">Login</a>
    </nav>

    <main class="login-centro">

        <div>
            <H2 id="favoritos" class="tam"> Favoritos <img src="../img/favo.png " alt="" width="30px" height="30px">
            </H2>
        </div>
        <DIv id="LADO">
            <div id="categorias">
                <div class="cor-cat">
                    <P >LIVROS EDUCATIVOS</P>
                </div>
                <div class="cor-cat">
                    <P >LIVROS RELIGIOSOS</P>
                </div>
                <div class="cor-cat">
                    <P >ROMANCE </P>
                </div>
                <div  class="cor-cat">
                    <P> INFANTIL</P>
                </div >


            </div>



            <div id="fav-livros">

                <DIV class="livros-fav"> <img src="../img/cabana.jpg" alt="" width="300px" height="300px">
                    <p class="tam"> A Cabana</p> <img src="../img/favo.png" alt="" width="30px" height="30px">
                </DIV>
                <DIV class="livros-fav"><img src="../img/travesia.jpg" alt="" width="300px" height="300px">
                    <p class="tam"> A Travesia</p> <img src="../img/favo.png" alt="" width="30px" height="30px">
                </DIV>
                <DIV class="livros-fav"><img src="../img/eva.jpg" alt="" width="300px" height="300px">
                    <p class="tam"> Eva</p> <img src="../img/favo.png" alt="" width="30px" height="30px">
                </DIV>





            </div>


        </DIv>


    </main>

    <footer>
        <div id="copy">
            &copy; Estante Web
        </div>

        <div> Todos os direitos reservados</div>

        <div class="img-fim">
            <img src="../img/facebook.svg" alt="" width="30px" height="30px">
            <img src="../img/instagram.svg" alt="" width="30px" height="30px">
        </div>

    </footer>
</body>

</html>