<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estante Web</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <div class="logo-busca">
            <h1>Estante Web</h1>
            <form action="">
                <input type="search" name="busca" id="busca">
            </form>
        </div>

    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="quem_somos.html">Quem Somos</a>
        <a href="contato.html">Contato</a>
        <a href="favoritos.html" class="alinhar">
            <img src="../img/star.png" alt="" width="30px" height="30px">
            Favoritos
        </a>
        <a href="login.html">Login</a>
    </nav>

    <main>
        <div>
            <h1 id="centro">Que somos</h1>
        </div>

        <div>
            <p id="meio">Olá caros amigos, é um prazer enorme ter vocês conosco. Nesse momento queremos apresentar esse
                projeto que está sendo desenvolvido pelos alunos da turma 52 do Curso de Programador Web Noturno no
                Senac do ano de 2024 com a supervisão do Professor Luis Fellipe.</p>
        </div>
        <div id="dp">
            Desenvolvido por Equipe noite
        </div>
    </main>

    <footer>
        <div id="copy">
            &copy; Estante Web
        </div>

        <div> Todos os direitos reservados</div>

        <div class="img-fim">
            <img src="../img/facebook.svg" alt="" width="30px" height="30px">
            <img src="../img/instagram.svg" alt="" width="30px" height="30px">
        </div>

    </footer>
</body>

</html>